html{
	background: -webkit-linear-gradient(#b30000, #000);
  	background: linear-gradient(#b30000, #000);
  	min-height: 100%;
  	font-family: sans-serif;
}

/**** SEARCH BAR ****/
form{
	text-align: center;
	margin-top: 250px;
}

form p{
	margin: 0 auto;
	background-color: rgba(0,0,0,0);
	width: 40px;
	height: 40px;
	border-radius: 25px;
	border: 5px solid #fff;
	-webkit-transition: all .25s linear;
    transition: all .25s linear;
}

form span{
	color: #fff;
	font-size: 2.5em;
	position: absolute;
	padding-left: 25px;
	margin-top: -15px;
	-webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transition: all .15s linear;
    transition: all .15s linear;
}

form p:hover{
	cursor: pointer;
}

.animate-p{
	width: 260px;
	-webkit-transition: all .25s linear;
    transition: all .25s linear;
}

.animate-span{
	-webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    padding-left: 0px;
    padding-top: 0;
    margin-left: 100px;
    margin-top: -45px;
    font-size: 2em;
	-webkit-transition: all .15s linear;
    transition: all .15s linear;
    cursor: pointer;
}

p.animate-p:hover{
	cursor: default;
}

input{
	background-color: rgba(0,0,0,0);
	border: none;
	width: 200px;
	height: 25px;
	padding: 5px 0px 5px 15px;
	color: #fff;
	font-size: 16px;
	display: none;
}

input:focus{
	outline: none;
}

label{
	display: block;
	margin-bottom: 25px;
	color:#fff;
	font-weight: 600;
}

#dropMenu{
	position: absolute;
	background-color: rgba(0,0,0,.75);
	color: #fff;
	right: 0;
	left: 0;
	margin: 0 auto;
	width: 200px;
	list-style: none;
}

#dropMenu li{
	text-align: center;
	padding: 7px 5px;
	margin-left: -40px;
	border-bottom: 1px solid #fff;
}

#dropMenu li:hover{
	cursor: pointer;
}

/******RESULTS*****/
#results{	
	margin: 50px auto;
	max-width: 1000px;
}

.container{
	-webkit-transition: all .5s linear;
	transition: all .5s linear;
	margin: 0 2.5%;
	margin-bottom: 25px;
	height: auto;
	min-height: 110px;
	background-color: #fff;
	color: #000;
	border: 2px solid #000;
}

#results a{
	text-decoration: none;
}

#results h2{
	padding: 0 0 0 15px;
}

#results p{
	padding-left: 15px;
}

.container:hover{
	border-radius: 40px;
	background-color: #aaa;
	-webkit-transition: all .5s linear;
	transition: all .5s linear;
}





